/*  
Made by @Vitallyx

Veuillez lire les notes pour mieux comprendre la structure du mémento.

 Note : 

 Site utile : 
► https://jigsaw.w3.org/css-validator - Permet de vérifier la validité du code CSS.
► https://www.w3.org/2009/cheatsheet - Permet d'avoir de la doc sur chaque propriétés.


 Histoire :

Le CSS de l'abréviation de "Cascading Style Sheets" est un language crée en 1997, qui permet de mettre en forme les documents.
► Le CSS définit la forme (apparence).

 Structure :

Pour pouvoir écrire du CSS il faut lier le fichier HTML au fichier CSS : <link rel="stylesheet" href="style.css" defer>.
En CSS nous utilisons un système de sélecteur d'éléments/classes avec des propriétés.

Pour écrire du css il faut d'abbord séléctionner l'élement puis lui donner les propriétés voulu. */

body {
    color: #fff;
}

/* 
 Class & Id :

Les sélecteurs de classe CSS permettent de cibler des éléments d'un document en fonction du contenu de l'attribut de chaque élément.
► Un attribut class peut être réutilisé plusieurs fois dans le code.
► Un attribut id ne peut être utilisé qu'une seule fois pour un élément.

 Sélécteur : 

► Element HTML : nom de l'élément
► Class : . + nom de la classe
► Id : # + nom de l'id


 Les types block et inline :

Display : 
► block : affichage sous forme d’un bloc
► inline : affichage en ligne
► none : l’élément n’est pas affiché

*/
















Permets de bloquer le surlignement du texte sur les différents navigateurs
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


Empeche les évenemnts liées au pointeur
    pointer-events: none;









